.filter-mb {
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
}

.play {
  margin-top: 1.5rem;
  margin-left: 7rem;
  rotate: 0deg;
}

.gaming {
  opacity: 0.5;
  position: absolute;
  top: -4.5rem;
  left: 9.4rem;
}

.movies {
  opacity: 0.5;
  position: absolute;
  top: -4.5rem;
  left: 16.3rem;
}
.expos {
  opacity: 0.5;
  position: absolute;
  top: -1.2rem;
  left: 22.5rem;
}
.kids {
  opacity: 0.5;
  position: absolute;
  top: 4.8rem;
  left: 24.7rem;
}
.edu {
  opacity: 0.5;
  position: absolute;
  top: 11.5rem;
  left: 24rem;
}
.outdoors {
  opacity: 0.5;
  position: absolute;
  top: 15.8rem;
  left: 18.5rem;
}
.music {
  opacity: 0.5;
  position: absolute;
  top: 19rem;
  left: 13rem;
}
.nightout {
  opacity: 0.5;
  position: absolute;
  top: 17.3rem;
  left: 6.5rem;
}
.sports {
  opacity: 0.5;
  position: absolute;
  top: 12.2rem;
  left: 2rem;
}
.theatre {
  opacity: 0.5;
  position: absolute;
  top: 6rem;
  left: 1.3rem;
}
.tastings {
  opacity: 0.5;
  position: absolute;
  top: -0.5rem;
  left: 3.5rem;
}

/* OPACITY CLASSES FOR FILTER ICONS */
.gamingOP {
  opacity: 1;
  position: absolute;
  top: -4.5rem;
  left: 9.4rem;
}

.moviesOP {
  opacity: 1;
  position: absolute;
  top: -4.5rem;
  left: 16.3rem;
}
.exposOP {
  opacity: 1;
  position: absolute;
  top: -1.2rem;
  left: 22.5rem;
}
.kidsOP {
  opacity: 1;
  position: absolute;
  top: 4.8rem;
  left: 24.7rem;
}
.eduOP {
  opacity: 1;
  position: absolute;
  top: 11.5rem;
  left: 24rem;
}
.outdoorsOP {
  opacity: 1;
  position: absolute;
  top: 15.8rem;
  left: 18.5rem;
}
.musicOP {
  opacity: 1;
  position: absolute;
  top: 19rem;
  left: 13rem;
}
.nightoutOP {
  opacity: 1;
  position: absolute;
  top: 17.3rem;
  left: 6.5rem;
}

.tastingsOP {
  opacity: 1;
  position: absolute;
  top: -0.5rem;
  left: 3.5rem;
}

.theatOP {
  opacity: 1;
  position: absolute;
  top: 6rem;
  left: 1.3rem;
}

.sportsOP {
  opacity: 1;
  position: absolute;
  top: 12.2rem;
  left: 2rem;
}

@media (min-width: 375px) {
  .filter-mb {
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .play {
    margin-top: 1.5rem;
    margin-right: 7rem;
    rotate: 0deg;
  }
  .gaming {
    position: absolute;
    top: -4.6rem;
    left: 11.4rem;
  }

  .movies {
    position: absolute;
    top: -5rem;
    left: 18.3rem;
  }
  .expos {
    position: absolute;
    top: -1.2rem;
    left: 24.5rem;
  }
  .kids {
    position: absolute;
    top: 4.3rem;
    left: 27.7rem;
  }
  .edu {
    position: absolute;
    top: 11.2rem;
    left: 27.5rem;
  }
  .outdoors {
    position: absolute;
    top: 15.8rem;
    left: 22rem;
  }
  .music {
    position: absolute;
    top: 19rem;
    left: 16.5rem;
  }
  .nightout {
    position: absolute;
    top: 17.5rem;
    left: 9.8rem;
  }
  .sports {
    position: absolute;
    top: 13.2rem;
    left: 4.5rem;
  }
  .theatre {
    position: absolute;
    top: 7rem;
    left: 3.5rem;
  }
  .tastings {
    position: absolute;
    top: 0.5rem;
    left: 5.5rem;
  }

  .playbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  /* OPACITY CLASSES FOR FILTER ICONS */
  .gamingOP {
    position: absolute;
    top: -4.6rem;
    left: 11.4rem;
  }

  .moviesOP {
    position: absolute;
    top: -5rem;
    left: 18.3rem;
  }
  .exposOP {
    position: absolute;
    top: -1.2rem;
    left: 24.5rem;
  }
  .kidsOP {
    position: absolute;
    top: 4.3rem;
    left: 27.7rem;
  }
  .eduOP {
    position: absolute;
    top: 11.2rem;
    left: 27.5rem;
  }
  .outdoorsOP {
    position: absolute;
    top: 15.8rem;
    left: 22rem;
  }
  .musicOP {
    position: absolute;
    top: 19rem;
    left: 16.5rem;
  }
  .nightoutOP {
    position: absolute;
    top: 17.5rem;
    left: 9.8rem;
  }
  .sportsOP {
    position: absolute;
    top: 13.2rem;
    left: 4.5rem;
  }
  .theatOP {
    position: absolute;
    top: 7rem;
    left: 3.5rem;
  }
  .tastingsOP {
    position: absolute;
    top: 0.5rem;
    left: 5.5rem;
  }
}
