@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1f0a27;
  z-index: 1;
}

.login_close {
  border-bottom: 0.001rem solid #352f3b;
}

.login_btn {
  background-color: inherit;
  border: 0;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.login_btn img {
  background-color: inherit;
  margin: 1.5rem 0 0 2.2rem;
}
.login_title {
  text-align: center;
  color: #d3c0d8;
  font-size: 2.4rem;
  font-family: "Montserrat";
  margin-top: 56px;
}
/*  */
.login_home_inputs {
  text-align: center;
  margin-top: 4rem;
}
.login_home_inputs input {
  width: 26.8rem;
  height: 4rem;
  margin-bottom: 1rem;
  border: 0.001rem solid rgba(167, 144, 173, 0.51);
  border-radius: 0.4rem;
  background-color: #1f0a27;
  font-family: "Montserrat";
  font-weight: 300;
  color: #a29ea4;
}
.login_home_inputs input::placeholder {
  font-size: 1.4rem;
  color: #614e67;
  padding-left: 0.5rem;
}
.login_span {
  color: #d76a43;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;

  background-color: #1f0a27;
  border: none;
}

.span-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_group {
  margin-top: 5rem;
  text-align: center;
}
.login_group_gr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_group_gr h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #a790ad;
}
.login_group_gr button {
  color: #d76a43;
  background-color: inherit;
  border: none;
  font-family: "Montserrat";
}

.btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 5.8rem;
}
.btn_btn {
  width: 10rem;
  height: 2.5rem;
  border: none;
  background-color: #d76a43;
  color: #0d0714;
  border-radius: 5rem;
  margin-bottom: 1rem;
  box-shadow: 0rem 0.04rem 0.04rem rgba(0, 0, 0, 0.25);
}
.login_line {
  margin-top: 19.2rem;
  background-color: #1f0a27;
}
