.signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1f0a27;
  z-index: 1;
}
.signup_close {
  border-bottom: 0.001rem solid #352f3b;
}

.signup_btn {
  background-color: inherit;
  border: 0;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.signup_btn img {
  background-color: inherit;
  margin: 1.5rem 0 0 2.2rem;
}
.signup_close {
  border-bottom: 0.001rem solid #352f3b;
}

/*  */
.signup_home {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signup_group_gr {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.signup_group_gr h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #a790ad;
}
.signup_group_gr button {
  color: #d76a43;
  background-color: inherit;
  border: none;
  font-family: "Montserrat";
}
.signup_title {
  /* text-align: center; */
  color: #d3c0d8;
  font-size: 2.4rem;
  font-family: "Montserrat";
  margin-top: 5.6rem;
}
.signup_home_inputs {
  /* display: flex;
    flex-direction: column; */
  margin-top: 1rem;
  /* padding: 25px; */
}
.signup_home_inputs input {
  width: 26.8rem;
  height: 4rem;
  margin-bottom: 1rem;
  border: 0.001px solid rgba(167, 144, 173, 0.51);
  border-radius: 0.4rem;
  background-color: #1f0a27;
  font-family: "Montserrat";
  font-weight: 300;
}
.signup_home_inputs input::placeholder {
  font-size: 1.4rem;
  color: #614e67;
  padding-left: 0.5rem;
}
/*  */
.signup_group_gr2 {
  max-width: 22.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.signup_group_gr2 h3 {
  font-family: "Montserrat";
  font-weight: 400;
  color: #a790ad;
  font-size: 1rem;
}
.signup_group_gr2 button {
  color: #d76a43;
  background-color: inherit;
  border: none;
  font-family: "Montserrat";
  font-size: 1rem;
}
